@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-3">
    <h1 class="display-4">Interfaces</h1>

  <ul class="nav flex-column">
        <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Inscritos" asp-action="Categoria"><i class="fas fa-link"></i> Obtener todos los Cursos de una categoría concreta</a>
    </li>

        <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Inscritos" asp-action="Index"><i class="fas fa-link"></i> Obtener todos los alumnos que no tienen cursos asociados</a>
    </li>



  </ul>
</div>
<hr />
<div class="container mt-3">
    <h1 class="display-4">Funciones Linq</h1>

  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Usuarios" asp-action="Index"><i class="fas fa-link"></i> Buscar usuarios por email</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Alumnos" asp-action="Index"><i class="fas fa-link"></i> Buscar alumnos mayores de edad</a>
    </li>

    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Cursos" asp-action="Index"><i class="fas fa-link"></i> Cursos</a>
    </li>



    <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Inscritos" asp-action="Nivel"><i class="fas fa-link"></i> Buscar cursos de un nivel determinado que al menos tengan un alumno inscrito</a>
    </li>



        <li class="nav-item">
      <a class="nav-link text-dark" asp-area="" asp-controller="Inscritos" asp-action="SoloCursos"><i class="fas fa-link"></i> Buscar cursos sin alumnos</a>
    </li>
  </ul>
</div>


